@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400;1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
*,*::after,*::before {margin: 0;padding: 0;box-sizing: border-box;}
html {scroll-behavior: smooth;overflow: auto;}
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #000;
    color: #fff;
}
ul,li {list-style: none;margin: 0;padding: 0;}
a {text-decoration: none;}
.btn.focus, .btn:focus {box-shadow: none;}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgba(7, 7, 7, 0.6);
    transition: all 0.5s;
    z-index: 997;
    top: 0;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    min-width: 320px;
}
#header .header-area {width: 100%;}
#header .right-side {width: 235px;}
#header .right-side .user-add {display: flex;}
#header .right-side .user-add .btn-search {margin-right: 0;margin-left: auto;}
#header.header-scrolled {
  top: 0;
  padding: 15px;
}
.header-fixed {background: rgba(7, 7, 7, 0.6);}
#header .main-header-area {
    width: 100%;
    /*padding: 12px 0;*/
    /* box-shadow: 0px 0 4px 4px rgb(1 1 1 / 3%); */
    position: relative;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.8px;
}

#header .logo img {
  /*max-height: 100px;*/
  transition: all 0.5s ease;
} 
.header-scrolled .logo {margin-bottom: 0 !important;}
.header-scrolled .logo img {max-height: 40px;}

@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
}  
  /* Mobile Navigation */
  .mobile-nav-toggle {
      position: fixed;
      right: 15px;
      top: 26px;
      z-index: 99999;
      color: #fff;
      border: 0;
      background: none;
      font-size: 30px;
      transition: all 0.4s;
      cursor: pointer;
      text-align: right;
  }
  
  .mobile-nav-toggle i {
      color: #e5a934;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    background: rgb(17, 21, 20);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 400;
    outline: none;
    display: flex;align-items: center;
    font-size: 1.2rem;
    justify-content: center;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #e5a934;
    text-decoration: none;
  }
  
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #e5a934;
  }

  /* menu mobile */
  .mobile-nav ul {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;
    width: 100%;

}

.btn-search {color: #fff;cursor: pointer;font-weight: 400;font-size: 17px;background: transparent;box-sizing: border-box;padding: 1.5px;}
.btn-get {border-radius: 50px;background-image: linear-gradient(270deg, #E5A833 25%, #F4DB87 50.93%, #E5A833 75.46%);}
.btn-search span {align-items: center;display: flex;justify-content: center;height: 100%;width: 100%;padding: 6px 20px;}
.btn-get span {background: #000;border-radius: 50px;}
.btn-get2 span {background: #1f2120;}
.btn-search:hover {border-radius: 50px;background-image: linear-gradient(270deg, #E5A833 25%, #F4DB87 50.93%, #E5A833 75.46%);}  
.btn-get:hover {background: linear-gradient(181.09deg, #E5A833 8.51%, #F4DB87 49.1%, #E5A833 78.63%);background-image: none;}
.btn-search-hoverline {}
.btn-search:hover span {background: #212022;border-radius: 50px;}
.btn-get:hover span {background: linear-gradient(181.09deg, #E5A833 8.51%, #F4DB87 49.1%, #E5A833 78.63%);color: #000;}
.btn-explore-hover:hover {border-radius: 50px !important;background-image: linear-gradient(270deg, #E5A833 25%, #F4DB87 50.93%, #E5A833 75.46%);box-sizing: border-box;padding: 1px;}
.btn-explore-hover:hover span {align-items: center;display: flex;justify-content: center;height: 100%;width: 100%;padding: .5rem 1rem;background: #000;border-radius: 50px;color: #fff;}


/* background video */
  #video-viewport { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1; }
  #video-viewport video {width: 100%; height: 100%;object-fit: cover; }

.fullsize-video-bg { 
    margin-right: auto;
    margin-left: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 822px;
    /* height: 71vh; */
    padding: 0px 1rem;
    position: relative;
    margin-top: 0px;
    color: rgb(255, 255, 255);
 }

.fullsize-video-bg:before { content: ""; background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }

.fullsize-video-bg .video-content { display: flex;align-items: center;justify-self: center; }
.fullsize-video-bg .video-content .content-text {display: flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;z-index: 5;}
.main-title {display: flex;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    color: #fff;
    font-size: 85px;
    font-weight: 700;
    text-align: center;
    line-height: 127px;
}
.fullsize-video-bg .sub-title {
    color: #fff;
    font-size: 37px;
    padding: 0.1em;
    font-weight: 400;
    line-height: 55px;
    background: linear-gradient(180deg, #E5A833 31.25%, #F4DB87 52.23%, #E5A833 70.54%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  background: linear-gradient(181.76deg, #E5A833 2.63%, #F4DB87 36.31%, #E5A833 68.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.learn-anything,.discover-export,.testimonial-slider,.solve-content,.ask-question {
  /* padding: 0 70px; */
  margin: 80px 0;
  width: 100%;
}
.learn-title {font-size: 35px;font-weight: 700;line-height: 45px;}
.best-seller-bg .learn-title {font-size: 65px;line-height: 97px;}
.solve-content .learn-title {width: 85%;margin: 0 auto 70px;text-align: center;line-height: 75px;font-size: 65px;font-weight: 700;}
.learn-para p {font-size: 18px;font-weight: 400;line-height: 29px;}
.learn-para-item{position: relative;}
.learn-para-item p{margin-left: 28px;font-weight: 400;font-size: 17px;line-height: 50px;margin-bottom: 0;}
.learn-para-item::before {
    content: "→";
    position: absolute;
    display: inline-block;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #e5a833;

}
.learn-video-content {
    width: 100%;
    display: flex;
    min-width: 300px;
    border-radius: 20px;
}
.learn-video-content video {width: 100%;border-radius: 20px;}
.discover-title-mb {display: none;}
.discover-title,.member-title {font-weight: 700;position: relative;font-size: 35px;line-height: 52px;}
.member-title {font-size: 65px;font-weight: 700;line-height: 75px;}
.discover-title::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    margin: auto;
    display: inline-block;
    width: calc(100% - 360px);
    height: 1px;
    background-color: rgba(255, 255, 255,.5);
    opacity: 0.1;
}
.nav-tabs .nav-link {border: 2px solid transparent;}
.discover-tab .nav-tabs {border-bottom: none;}
.discover-tab .nav-tabs .nav-item.show .nav-link,.discover-tab .nav-tabs .nav-link.active,.discover-tab .nav-tabs .nav-link:hover {border-radius: 50px;background: linear-gradient(181.09deg, #E5A833 8.51%, #F4DB87 49.1%, #E5A833 78.63%);border-color: transparent;color: #050505;}
.discover-tab .nav-item {position: relative;}
.discover-tab .nav-item a {margin: 0 20px;color: #fff;font-size: 14px;font-weight: 400;line-height: 21px;}
.discover-tab .nav-item:not(:last-child):after {content: '';display: block;position: absolute;width: 1px;height: 15px;background-color: #fff;top: 15px;bottom: 0;left: auto;right: 0;margin: 0 auto;}
.hero-banner__content {
  color: #fff;
  max-width: 355px;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
}
.hero-banner__content p {margin-bottom: 0;}
.corner-borders::before,.corner-borders::after {
    border-color: #fff;
    border-width: 2px;
    border-image-slice: 3;
    border-image-source: linear-gradient(to top, #e3a832,#f3da86,#e3a832 );
    content: '';
    display: block;
    height: 18px;
    pointer-events: none;
    position: absolute;
    width: 28px;
}
.corner-borders-left::before {left: 0;}
.corner-borders-left::before {border-left-style: solid;border-top-style: solid;top: 0;}
.corner-borders-right::after {right: 0;}
.corner-borders-right::after {border-right-style: solid;border-bottom-style: solid;bottom: 0;}
/* slider */
.picha {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  justify-items: flex-end;
  align-content: center;
  text-align: center;
  cursor: pointer;
  height: 496px;
}
/* .picha:before {
  top: 0;
  height: 100%;
  transition: .3s ease-out;
  background: linear-gradient(0deg,#000 -5%,transparent);
  opacity: .5;
}
.picha:before, .picha:hover:before {
  content: "";
  left: 0;
  display: block;
  width: 100%;
  z-index: 2;
  border-radius: 20px;
  position: absolute;
} */
.picha:hover,.single-testimonial-item:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: .2s ease-in-out;
  /*background: linear-gradient(0deg,#000 5%,transparent);*/
  border: 3px solid #e5a934;
  /* border: 2px solid; */
  /* border-image-source: linear-gradient(180deg, #E3A832 0%, #F3DA86 48.44%, #E3A832 100%); */
  /* border-image-slice: 4; */
  z-index: 4;
  opacity: 1;
}
.single-testimonial-item:hover {transform: scale(1.04);background: rgb(25, 28, 33);  border: 3px solid #e5a934;}
/* .picha:hover:before {
  top: 50%;
  height: 50%;
  transition: 1s ease-in-out;
  background: linear-gradient(0deg,red 10%,transparent);
  opacity: .75;
} */
.picha:before, .picha:hover:before {
  content: "";
  left: 0;
  display: block;
  width: 100%;
  z-index: 2;
  border-radius: 20px;
  position: absolute;
}
.slick-prev:before, .slick-next:before {font-size: 0;}
.slick-prev,.slick-next {font-size: 25px;color: #fff;border: 2px solid #e5a934;width: 55px;font-weight: 900;height: 55px;display: flex;align-items: center;justify-content: center;border-radius: 50px;z-index: 5;background-color: #000;line-height: 55px;
  /* border: 2px solid;
  border-image-source: linear-gradient(180.7deg, #E5A833 0.59%, #F4DB87 44.85%, #E5A833 95.8%);
  border-image-slice: 4; */
  }
.discover-export .slick-prev {left: -56px;}
.discover-export .slick-next {right: -56px;}
/* .discover-export .slick-prev {left: -32px;}
.discover-export .slick-next {right: -32px;} */
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {border: 2px solid;background: linear-gradient(180.7deg, #E5A833 0.59%, #F4DB87 44.85%, #E5A833 95.8%);color: #000;}
.learn-contant-main {position: relative;height: 450px;border-radius: 20px;overflow: hidden;}
.learn-contant-main .learn-content {position: absolute;width: 100%;height: 100%;top: 0;bottom: 0;left: auto;right: 0;margin: 0 auto;}
.learn-contant-main .learn-content div.para-div {width: 50%;margin-left: auto;margin-right: 0px;height: 100%;display: flex;justify-content: center;flex-direction: column;}
.learn-content-bg {
  background-image: url(../images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.best-seller-bg {background-image: url(../images/img2.png);}
/* .slick-disabled {opacity: .4;pointer-events: none;} */
/* testimonial slider */
.client-testimonial-carousel .slick-dots li button:before {color: #fff;}
.client-testimonial-carousel .slick-dots li.slick-active button:before {color: #e5a934;}
.client-testimonial-carousel .slick-dots li {width: 15px;height: 15px;margin: 0;}
.client-testimonial-carousel .slick-dots {
  text-align: center;
  margin-top: 25px
}
.client-testimonial-carousel .slick-prev,.client-testimonial-carousel .slick-next {border: 0;top: auto;bottom: -51px;font-size: 25px;z-index: 55;width: 30px;height: 30px;color: #fff;background-color: transparent;}
.client-testimonial-carousel .slick-prev {left: auto;right: 53%;}
.client-testimonial-carousel .slick-next {right: auto;left: 53%;}
.client-testimonial-carousel .slick-prev:hover,.client-testimonial-carousel .slick-prev:focus,.client-testimonial-carousel .slick-next:hover,.client-testimonial-carousel .slick-next:focus {background: transparent;color: #e5a934;}

.single-testimonial-item {
  position: relative;
  margin: 20px 2px;
  padding: 20px;
  padding-left: 30px;
  background-color: #111111;
  /* border: 1px solid #e5a934; */
  border-radius: 35px;
  height: 248px;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  opacity: 0.4;
}
.single-testimonial-item p {font-size: 16px;font-weight: 400;line-height: 25px;}
.single-testimonial-item::before {
  /* font-family: "Font Awesome 5 Free"; */
  font-family: 'Playfair Display', serif;
    content: '“';
    font-weight: 400;
    position: absolute;
    left: 40px;
    top: -17px;
    font-size: 170px;
    color: #e5a934;
    line-height: 130px;
    margin-top: -15px;
    background: linear-gradient(178.37deg, #E3A832 -138.64%, #F3DA86 -20.5%, #E3A832 98.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.single-testimonial-item h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 21px;
  color: #E3A832;
}

.single-testimonial-item h3 span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  /* margin-top: 5px; */
  line-height: 21px;
  color: #fff;
}
.testimonial_box {
  display: flex;
  align-items: center;
}
.testimonial_box-img{
  display: flex;
}
.testimonial_box-img img{
  width: 61px;
  height: 61px;
  border-radius: 50px;
  border: 2px solid #e5e5e5;
}
.ask-question .accordion {width: 100%;max-width: 800px;justify-content: center;margin: 2rem auto;padding: 0 24px;}
.ask-question .card {background: transparent;margin-bottom: 8px;width: 647px;margin-left: auto;margin-right: auto;}
.ask-question .card-header {background-color: transparent;padding: 0;border-radius: 0;border: 0;}
.ask-question .card-header h2 .btn {background-color: transparent;width: 100%; font-weight: 700;font-size: 18px;color: #fff;padding: 1rem;border: 2px solid #333333;border-bottom: 0;border-radius: 0;line-height: 25px;}
.ask-question .card-header h2 .btn.collapsed {
  background: rgb(25, 28, 33); color: #fff;
  border: 0;
}
.ask-question .card-header h2 .btn span i {color: #e5a833;}
.ask-question .card-body {
    color: white;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    background: transparent;
    margin-bottom: 1rem;
    border: 2px solid #333333;
    border-top: 0;
    line-height: 25px;
}
.ask-question .hero-banner__content {
  color: #e5a833;
  max-width: 350px;
  padding: 15px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}
.ask-question .hero-banner__content p {margin-bottom: 0;font-size: 18px;font-weight: 400;}
.ask-question .corner-borders::before,.ask-question .corner-borders::after {
    border-color: #e5a833;
    border-width: 2px;
    border-image-slice: 3;
    border-image-source: linear-gradient(to top, #e3a832,#f3da86,#e3a832 );
    content: '';
    display: block;
    height: 20px;
    pointer-events: none;
    position: absolute;
    width: 35px;
}
.ask-question .corner-borders-left::before {left: 0;}
.ask-question .corner-borders-left::before {border-left-style: solid;border-top-style: solid;top: 0;}
.ask-question .corner-borders-right::after {right: 0;}
.ask-question .corner-borders-right::after {border-right-style: solid;border-bottom-style: solid;bottom: 0;}
.footer {padding-top: 4rem;position: relative;background-image: url(../images/footer-bg.png);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: bottom;}
.footer-content {justify-content: center;margin-left: auto;margin-right: auto;padding: 0 24px;}
.footer-title {font-size: 25px;font-weight: 700;margin-bottom: 20px;text-transform: uppercase;line-height: 25px;}
.footer-content .nav-link {font-size: 15px;color: white;padding: 1px 0;line-height: 25px;}
.footer-content .nav-link:hover {color: #e2a834;}
/* .footer-right-content {display: flex;justify-content: flex-end;align-items: flex-end;flex-direction: column;} */
.footer-right-content .nav-list {display: flex;align-items: center;}
.footer-right-content .nav-link {margin: 0 20px;}
.footer-right-content .nav-link.icon {
  background: #e5a833;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    text-align: center;
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom {padding: 20px 15px;margin-top: 4rem;margin-left: auto;margin-right: auto;justify-content: center;align-items: center;}
.solvepro-content {text-align: center;border: 2px solid white;border-radius: 40px;width: 358px;height: 282px;display: flex;align-items: center;justify-content: center;margin: 0 auto;}
.solvepro-hover {background: #000;border-radius: 40px;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.solvepro-content:hover {box-shadow: 0px 4px 75px 0px rgba(229, 168, 51, 0.2);cursor: pointer;background-image: linear-gradient(270deg, #E5A833 6.7%, #F4DB87 58.65%, #E5A833 114.25%);box-sizing: border-box;padding: 2px;border: 0;}
.solve-title-number .display-4 {font-size: 95px;font-weight: 700;color: #E5AF3E;line-height: 111.33px;font-family: 'Roboto', sans-serif !important;}
.solve-text {font-size: 25px;font-weight: 400;line-height: 29px;font-family: 'Roboto', sans-serif !important;}
.influencers-text-content {width: 100%;margin-right:auto;margin-left: auto;display: flex;justify-content: center;align-items: center;position: absolute;place-content: center;text-align: center;top: 27%;}
.influencers-text {display: block;text-align: center;font-weight: 300;background: transparent;border: 0.0025rem solid grey;border-radius: 2rem;z-index: 3;width: 345px;height: 54px;display: flex;align-items: center;justify-content: center;}
.influencers-text p {color: #fff;margin-bottom: 0;}
.marquee-content {margin-bottom: 1rem;margin-top: 1.5rem;display: flex;align-items: center;justify-content: center;height: 74px;}
.marquee-content .slick-slider {margin-bottom: 0;}
 .marquee-content .slick-track{
  display:flex!important;
  align-items:center;
  justify-content:center;
  /* overflow:visible!important; */
}
.marquee-content .slick-list{
  padding:0!important;
  /* overflow:visible!important; */
}

.marquee-content .slick-slide{
  height:inherit;
  display:flex;
  align-items:center;
  justify-content:center;
}
.marquee-content .slick-slide .inner {
  opacity: 0.3;
  cursor: pointer;
  padding: 0 1.9rem;
  position: relative;
}
.marquee-content .hide{
  display:none!important;
}
.marquee-content .slick-slide .inner:hover {opacity: 1;}
/* .marquee-content .slick-slide .inner::after {content: '';display: block;position: absolute;width: 1px;height: 26px;background-color:#fff;top: 0;bottom: 0;left: auto;right: 0;margin: auto;opacity: .3;} */
.discover-img-slider {
  background-image: url('../images/img1.jpg');
  height: 496px;
  background-position: center center;
  background-size: cover; 
  border-radius: 20px; 
  margin: 10px;
  background-repeat: no-repeat;
  overflow: hidden;
}
.slider-img1 {background-image: url('../images/Stock-Images/img1.jpg');}
.slider-img2 {background-image: url('../images/Stock-Images/img2.jpg');}
.slider-img3 {background-image: url('../images/Stock-Images/img3.jpg');}
.slider-img4 {background-image: url('../images/Stock-Images/img4.jpg');}
.slider-img5 {background-image: url('../images/Stock-Images/img5.jpg');}
.slider-img6 {background-image: url('../images/Stock-Images/img6.jpg');}
.slider-img7 {background-image: url('../images/Stock-Images/img7.jpg');}
.slider-img8 {background-image: url('../images/Stock-Images/img8.jpg');}
.explore-img1 {background-image: url('../images/explore/img1.png');}
.explore-img2 {background-image: url('../images/explore/img2.png');}
.explore-img3 {background-image: url('../images/explore/img3.png');}
.explore-img4 {background-image: url('../images/explore/img4.png');}
.explore-img5 {background-image: url('../images/explore/img5.png');}
.explore-img6 {background-image: url('../images/explore/img6.png');}
.explore-img7 {background-image: url('../images/explore/img7.png');}
.explore-img8 {background-image: url('../images/explore/img8.png');}
.explore-img9 {background-image: url('../images/explore/img9.png');}

.picha-inner-content {position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: 0 auto;}
.overly-picha-bg {background-color: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;}
.picha-content {position: absolute;top: auto;bottom: 0;left: 0;right: 0;margin: 0 auto;padding: 10px 10px 30px;display: flex;flex-direction: column;align-items: center;justify-content: center;z-index: 2;}
.picha-logo {position: relative;}
.picha-text {font-size: 14px;}
.picha-logo img {width: 150px;}
.picha-logo::after {content: '';position: absolute;width: 55px;height: 2px;background-color: #fff;left: 0;right: 0;top: auto;bottom: -7px;margin: 0 auto;display: block;}
/* bg border */
.header-border,.expert-border {position: relative;}
.expert-border::after {
  content: "";
    width: 75px;
    height: 66%;
    position: absolute;
    bottom: auto;
    right: 4%;
    left: auto;
    top: 440px;
    border-bottom: 3px solid #e5a934;
    border-right: 3px solid #e5a934;
    border-top: 3px solid #e5a934;
    margin: auto;
    z-index: 2;
}
.expert-border::before {
  content: "";
    width: 75px;
    height: 66%;
    position: absolute;
    bottom: auto;
    left: 4%;
    right: auto;
    top: 440px;
    border-bottom: 3px solid #e5a934;
    border-left: 3px solid #e5a934;
    border-top: 3px solid #e5a934;
    margin: auto;
    z-index: 2;
}
.header-border::before {
  content: "";
    width: 60px;
    height: 89.9%;
    position: absolute;
    bottom: auto;
    left: 4%;
    right: auto;
    top: 39px;
    border-bottom: 3px solid #e5a934;
    border-left: 3px solid #e5a934;
    border-top: 3px solid #e5a934;
    margin: auto;
    z-index: 2;
}
.header-border::after {
  content: "";
    width: 60px;
    height: 89.9%;
    position: absolute;
    bottom: auto;
    right: 4%;
    left: auto;
    top: 39px;
    border-bottom: 3px solid #e5a934;
    border-right: 3px solid #e5a934;
    border-top: 3px solid #e5a934;
    margin: auto;
    z-index: 2;
}
.border-hide::after,.border-hide::before {display: none;}

